name: docker

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  docker-build:
    env:
      IMAGE: meilisearch-prom-exporter
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: trim21/actions/setup-go@master

      - run: go build -trimpath -o dist/app
        env:
          CGO_ENABLED: '0'

      - run: docker build -t ghcr.io/trim21/${{ env.IMAGE }}:latest .

      - run: |
          echo $DOCKER_TOKEN | docker login ghcr.io -u Trim21 --password-stdin
          docker push ghcr.io/trim21/${{ env.IMAGE }}:latest
        if: github.event_name == 'push'
        env:
          DOCKER_TOKEN: ${{ github.token }}

      - run: docker run ghcr.io/trim21/${{ env.IMAGE }}:latest --help
